<!DOCTYPE HTML>
<html>
	<head>
		<title>AI STOCK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="landing is-preload">

		<div id="page-wrapper">

			<th:block th:replace="common :: header"></th:block>

			<!-- Banner -->
			<section id="banner">
				<h2>Today Stock Weather</h2>
				<p>Fear and Greed : 25(Extreme Fear)</p>
				<h2>AI IMAGE/NEWS</h2>
				<p>Data를 기반으로 AI가 만든</p>
				<p>오늘의 주식 이미지와 뉴스를 확인해보세요</p>
				<p>(이미지를 선택하면 더 자세한 정보)</p>
			</section>

			<!-- Main -->
			<section id="main" class="container">
				<section class="box special" th:each="stock : ${stocks}">
					<h2 th:text="${stock.name} + '(' + ${stock.ticker} + ')' + ' : ' + ${stock.date}"></h2>
					<a th:href="@{/stocks/{stockId}(stockId=${stock.stockId})}"><span class="image featured"><img th:src="@{${stock.imagePath}}" alt="" /></span></a>
					<audio controls>
						<source th:src="@{${stock.speechPath}}" type="audio/ogg">
					</audio>
				</section>
			</section>

			<th:block th:replace="common :: footer"></th:block>

		</div>

		<th:block th:replace="common :: static"></th:block>

	</body>
</html>