<!DOCTYPE HTML>
<html>
	<head>
		<title>AI STOCK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="landing is-preload">

		<div id="page-wrapper">

			<th:block th:replace="~{common :: header}"></th:block>

			<!-- Banner -->
			<section id="banner">
				<h2>AI STOCK</h2>
				<p>Data를 기반으로 AI가 만든</p>
				<p>오늘의 주식 이미지와 뉴스를 확인해보세요</p>
				<p>(하단 이미지 클릭시 상세 이동)</p>
				<p></p>
				<h3>Today Stock Weather</h3>
				<p>Fear and Greed : [[${feargreed.score}]]([[${feargreed.rating}]])</p>

			</section>

			<!-- Main -->
			<section id="main" class="container">
				<section class="box special" th:each="stock : ${stocks}">
					<h2 th:text="${stock.name} + '(' + ${stock.ticker} + ')' + ' : ' + ${stock.date}"></h2>
					<a th:href="@{/stocks/{stockId}(stockId=${stock.stockId}, date=${stock.date})}"><span class="image featured"><img th:src="@{${stock.imagePath}}" alt="" /></span></a>
					<audio controls>
						<source th:src="@{${stock.speechPath}}" type="audio/mpeg">
					</audio>
				</section>
			</section>

			<th:block th:replace="~{common :: footer}"></th:block>

		</div>

		<th:block th:replace="~{common :: static}"></th:block>

	</body>
</html>