<!DOCTYPE HTML>
<html>
	<head>
		<title>AI STOCK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="landing is-preload">

		<div id="page-wrapper">

			<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="/main">AI STOCK</a> with chatgpt</h1>
				<nav id="nav">
					<ul>
						<li><a href="/main">Main</a></li>
						<li>
							<a href="#" class="icon solid fa-angle-down">Stocks</a>
							<ul>
								<li><a href="stock.html">Stock</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>

			<!-- Banner -->
			<section id="banner">
				<h2>Today Stock Weather</h2>
				<p>Fear and Greed : 25(Extreme Fear)</p>
				<h2>AI IMAGE/NEWS</h2>
				<p>Data를 기반으로 AI가 만든</p>
				<p>오늘의 주식 이미지와 뉴스를 확인해보세요</p>
				<p>(이미지를 선택하면 더 자세한 정보)</p>
			</section>

			<!-- Main -->
			<section id="main" class="container">
				<section class="box special" th:each="stock : ${stocks}">
					<h2 th:text="${stock.getName()} + '(' + ${stock.getTicker()} + ')' + ' : ' + ${stock.getDate()}"></h2>
					<a href="stock.html"><span class="image featured"><img th:src="@{${stock.getImagePath()}}" alt="" /></span></a>
					<audio controls>
						<source th:src="@{${stock.getSpeechPath()}}" type="audio/ogg">
					</audio>
				</section>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<ul class="copyright">
					<li>&copy; AI STOCK. All rights reserved.</li>
				</ul>
			</footer>

		</div>

		<!-- Scripts -->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.min.js"></script>
		<script src="/static/js/jquery.scrollex.min.js"></script>
		<script src="/static/js/browser.min.js"></script>
		<script src="/static/js/breakpoints.min.js"></script>
		<script src="/static/js/util.js"></script>
		<script src="/static/js/main.js"></script>

	</body>
</html>