<!DOCTYPE HTML>
<html>
	<head>
		<title>AI STOCK</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body class="is-preload">
		<div id="page-wrapper">

			<th:block th:replace="~{common :: header}"></th:block>

				<section id="main" class="container">
					<header>
						<h2 th:text="${stock.name} + ' 분석(' + ${stock.ticker} + ')' + ' : ' + ${stock.date}"></h2>
						<p>오늘의 이미지 / 오늘의 리포트 / 오늘의 브리핑 / 3일간 뉴스 원문</p>
					</header>
					<div class="box">
						<h2>오늘의 이미지</h2>
						<span class="image featured"><img th:src="@{${stock.imagePath}}" alt="" /></span>
					</div>
					<div class="box">
						<h2>오늘의 리포트 - <span><a th:href="@{https://finviz.com/quote.ashx(t=${stock.ticker})}">chart(from finviz)</a></span></h2>
						<div class="table-wrapper">
							<table class="alt">
								<tbody>
									<tr>
										<td>PER</td>
										<td th:text="${stock.per}"></td>
										<td>FORWARD PER</td>
										<td th:text="${stock.forwardPer}"></td>
									</tr>
									<tr>
										<td>EPS</td>
										<td th:text="${stock.eps}"></td>
										<td>FORWARD EPS</td>
										<td th:text="${stock.forwardEps}"></td>
									</tr>
									<tr>
										<td>PEG</td>
										<td th:text="${stock.peg}"></td>
										<td>RSI</td>
										<td th:text="${stock.rsi}"></td>
									</tr>
									<tr>
										<td>현재가</td>
										<td th:text="${stock.nowPrice}"></td>
										<td>목표가</td>
										<td th:text="${stock.targetPrice}"></td>
									</tr>
								</tbody>
							</table>
							<table class="alt">
								<tbody>
									<tr>
										<td>강력 매수</td>
										<td>매수</td>
										<td>보유</td>
										<td>매도</td>
										<td>강력 매도</td>
									</tr>
									<tr>
										<td th:text="${stock.strongBuy}"></td>
										<td th:text="${stock.buy}"></td>
										<td th:text="${stock.hold}"></td>
										<td th:text="${stock.sell}"></td>
										<td th:text="${stock.strongSell}"></td>
									</tr>
								</tbody>
							</table>
							<h3>Stock analysis</h3>
							<p th:text="${stock.report}"></p>
						</div>
					</div>
					<div class="box">
						<h2>오늘의 브리핑</h2>
						<span class="image featured"><img src="/image/newsRoom.jpg" alt="" /></span>
						<h3>Full Speech(Stock analysis + News Script)</h3>
						<audio controls>
							<source th:src="@{${stock.speechPath}}" type="audio/ogg">
						</audio>
						<h3>News Script</h3>
						<p th:text="${stock.script}"></p>
					</div>
					<div class="box">
						<h2>3일간 뉴스 원문</h2>
						<table class="alt">
							<tbody>
								<tr th:each="news : ${newses}">
									<td><img th:src="${news.image != null ? news.image : '/static/image/news.jpg'}" alt="" width="50" height="50"/></td>
									<td><a th:href="${news.url}" th:text="${news.headline}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

			<th:block th:replace="~{common :: footer}"></th:block>

		</div>

		<th:block th:replace="~{common :: static}"></th:block>

	</body>
</html>